fastapi
uvicorn
python-multipart
# scikit-learn dependency
scikit-learn
joblib
numpy
# Server-side lightweight OpenCV
opencv-python-headless
# Data download
kagglehub
matplotlib
seaborn
duckduckgo_search
requests
ImageHash
pytest-playwright
playwright
pytest-asyncio
